.DS_STORE

# Secret files
*seekrets.js

# Directories
node_modules
bower_components
docs/bower_components/
dist/

# Build log
.buildlog

# Or type definitions we mirror from github
**/typings/**/*.d.ts
**/typings/tsd.cached.json
!**/typings/tsd/tsd.d.ts
!**/typings/custom/**/*.d.ts

# Ignore npm debug log
npm-debug.log

