.DS_STORE

# Secret files
*seekrets.js

# Directories
node_modules
bower_components
/docs/bower_components/
/prod/
/dev/
/tmp/

# Build log
.buildlog

# Or type definitions we mirror from github
**/typings/**/*.d.ts
**/typings/tsd.cached.json
!**/typings/custom/**/*.d.ts
!**/typings/tsd.d.ts
!**/typings/references.d.ts
!**/typings/app.d.ts

# Ignore npm debug log
npm-debug.log

